@mixin bg-soft($parent, $color) {
  #{$parent} {
    background-color: rgba($color, .1) !important;
  }
}

@mixin bg-semi-soft($parent, $color) {
  #{$parent} {
    background-color: rgba($color, .5) !important;
  }
}

@mixin bg-light($parent, $color) {
  #{$parent} {
    background-color: rgba($color, .1) !important;
  }
}