{% extends './base.html' %}
{%block content%}
<!-- partial:index.partial.html -->



<!-- partial:index.partial.html -->
<div data-component="navbar">

<nav class="navbar p-0 fixed-top">
 
  
  <div><a class="navbar-brand" href="#"><img src="https://st4.depositphotos.com/6760872/31470/v/1600/depositphotos_314708216-stock-illustration-white-hashtag-icon-isolated-with.jpg" class="d-inline-block mt-1" alt="AgentFire Logo" height="40"></a>

  <div class="right-links float-right mr-4">
    <a href="#" class="home"><i class="fa fa-home mr-3"></i></a>
    
    <div class="d-inline dropdown rounded-0 mx-3">
      <a class="dropdown-toggle" id="tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-wrench" aria-hidden="true"></i></a>
      <div class="dropdown-menu dropdown-menu-right rounded-0 text-center" aria-labelledby="tools">
        <a class="dropdown-item px-2" href="#">Recompile CSS</a>
        <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="updateGraph()">

      </div>
    </div> <!-- /.dropdown -->
    
    <div class="d-inline dropdown mr-3">
      <a class="dropdown-toggle" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>2</span><i class="fa fa-bell"></i></a>
      <div class="dropdown-menu dropdown-menu-right rounded-0 pt-0" aria-labelledby="notifications">
        <div class="list-group">
          <div class="lg">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <h5 class="mb-1">TSLA went up by 10%</h5>
              <p class="mb-0">23 July  2021 | 01:48 pm</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <h5 class="mb-1">ROKU traded above high volume 8,370,852</h5>
              <p class="mb-0">05 August 2021 | 12:43 pm</p>
            </a>
          </div> <!-- /.lg -->
        </div> <!-- /.list group -->
      </div> <!-- /.dropdown-menu -->
    </div> <!-- /.dropdown -->
    
    <div class="d-inline dropdown mr-3">
      <a class="dropdown-toggle" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-envelope"></i></a>
      <div class="dropdown-menu dropdown-menu-right rounded-0 text-center" aria-labelledby="messages">
        <a class="dropdown-item">There are no new messages</a>
      </div> <!-- /.dropdown-menu -->
  </div> <!-- /.dropdown -->
    
    
    <div class="d-inline dropdown">
      <a class="dropdown-toggle" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        <img src="http://1.gravatar.com/avatar/47db31bd2e0b161008607d84c74305b5?s=96&d=mm&r=g">
      </a>
      <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="messages">
        <a class="dropdown-item" href="#">Edit my profile</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div> <!-- /.dropdown-menu -->
    </div> <!-- /.dropdown -->
    
  </div> <!-- /.right-links -->
  
  </div>
    
</nav>
</div> <!-- END TOP NAVBAR -->



<!-- Start of Code for Sidebar -->

<svg style="display:none;">
  <defs>

    <g id="home">
      <path fill="#90A4AE" d="M42,48H6c-3.3,0-6-2.7-6-6V6c0-3.3,2.7-6,6-6h36c3.3,0,6,2.7,6,6v36C48,45.3,45.3,48,42,48z"/>
      <path fill="#212121" d="M20.8,35.5v-9.6h6.4v9.6h8V22.7H40L24,8.3L8,22.7h4.8v12.8H20.8z"/>
    </g>

    <g id="search">
      <path fill="#90A4AE" d="M22.9,20.1h-1.5l-0.5-0.5c1.8-2.1,2.9-4.8,2.9-7.7C23.8,5.3,18.5,0,11.9,0S0,5.3,0,11.9s5.3,11.9,11.9,11.9
      c3,0,5.7-1.1,7.7-2.9l0.5,0.5v1.4l9.1,9.1l2.7-2.7L22.9,20.1z M11.9,20.1c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2
      S16.4,20.1,11.9,20.1z"/>
    </g>

    <g id="map">
      <path fill="#90A4AE" d="M16,14.2c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8S17,14.2,16,14.2z M16,0
      C7.2,0,0,7.2,0,16c0,8.8,7.2,16,16,16s16-7.2,16-16C32,7.2,24.8,0,16,0z M19.5,19.5L6.4,25.6l6.1-13.1l13.1-6.1L19.5,19.5z"/>
    </g>

    <g id="planner">
      <path fill="#90A4AE" d="M28.4,3.6h-1.8V0h-3.6v3.6H8.9V0H5.3v3.6H3.6C1.6,3.6,0,5.1,0,7.1L0,32c0,2,1.6,3.6,3.6,3.6h24.9c2,0,3.6-1.6,3.6-3.6V7.1C32,5.1,30.4,3.6,28.4,3.6z M28.4,32H3.6V12.4h24.9V32z M7.1,16H16v8.9H7.1V16z"/>
    </g>

  </defs>
</svg>




<nav class="nav__cont">
  <ul class="nav">
    <li class="nav__items ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <use xlink:href="#home"></use>
      </svg>
      <a href="">Home</a>
    </li>
    
    <li class="nav__items ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <use xlink:href="#search"></use>
      </svg>
      <a href="">Search</a>
    </li>
      
    <li class="nav__items ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <use xlink:href="#map"></use>
      </svg>
     <a href="">Map</a>
    </li>
      
    <li class="nav__items ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 35.6">
        <use xlink:href="#planner"></use></svg>
      <a href="">Planner</a>
    </li>
        
  </ul>
</nav>


<!-- End of Code for Sidebar -->
  
  <div class="wrapper">
    <main>
      <h1>Quantl Pro </h1>
    </main>
  </div>



<!--  Code for  IFrame -->
{{result}}
<div class="container" id="contentframe" style="position:relative; top: 60px; left: 200px;">
<iframe class="responsive-iframe"  id="encoder_iframe" src= "{% url 'MVP:frame' %}" height="240" width="900" style="border:2px solid red;" title="Iframe Example">
{{result}}
</iframe>


<!-- partial -->
    <script src="prism.js"></script>


    <textarea id="editing" spellcheck="false" oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);"></textarea>

    <pre id="highlighting" aria-hidden="true">
      <code class="language-python">
      </code>
    </pre>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>

{% endblock%}

  

