/*------------------------------------
  Text Colors
------------------------------------*/

.text {
  &-main {
    color: $gray-500 !important;
  }

  &-teal {
    color: $teal !important;
  }

  &-twitter {
    color: $twitter !important;
  }
}